.navbar {
  margin: 0 0 1% 0;
  border-radius: 0 0 15px 15px;
}

.nav-item {
  margin-top: 2%;
}

.navbar-expand-lg {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f8f9fad9;
}

h1 {
  font-size: 50px;
  color: #f8f9fad9;
  font-weight: 500;
}

a {
  font-style: italic;
  font-family: nimbus-sans, sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  /* border: #212529 1px solid; */
  margin: 5%;
  padding: 2%;
  border-radius: 38px;
  background-color: #101010;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 10;
  height: 1100px;
  font-family: Inter, sans-serif;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f8f9faea;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: Inter, sans-serif;
  margin: 25%;
}

.display-2 {
  margin: 5% 5% 7% 5%;
  font-weight: 500;
  color: #f8f9faea;
}

.lead {
  margin: 0 5% 5% 5%;
  color: #f8f9facc;
}
/* 
.gradients-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 1620px;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.gradient-circle-yellow {
  position: absolute;
  top: auto;
  width: 52vw;
  height: 52vh;
  bottom: 31%;
  border-radius: 50%;
  background-color: #f48937;
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.gradient-circle-red {
  position: absolute;
  left: -14%;
  top: 10%;
  width: 46vw;
  height: 46vh;
  border-radius: 50%;
  background-color: #ed2a24;
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.gradient-circle-blue {
  position: absolute;
  top: 11%;
  right: -14%;
  width: 45vw;
  height: 45vh;
  border-radius: 50%;
  background-color: #2427ed;
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.gradient-circle-purple {
  position: absolute;
  left: 46%;
  top: auto;
  right: 0%;
  bottom: 31%;
  width: 44vw;
  height: 44vh;
  border-radius: 50%;
  background-color: #be37f4;
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.gradient-circle-yellow._2 {
  width: 30vw;
  height: 30vh;
  background-color: rgba(248, 217, 151, 0.5);
} */

/* .carousel-item {
  height: 500px;
  width: 100px;
} */

.carousel {
  width: 540px;
  height: 390px;
  display: inline-block;
  margin: 2% 0 0 2%;
}

.container {
  margin: 7%;
}
